<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Title:</strong>
    <%= task.title %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Description:</strong>
    <%= task.description %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Scheduled at:</strong>
    <%= I18n.l(task.scheduled_at, format: :long) if task.scheduled_at.present?  %>
  </p>

  <p class="my-5">
    <strong class="block mb-1 font-medium">Completed:</strong>
    <%= t(task.completed) if task.completed? %>
  </p>

  <%= link_to "Edit this task", edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-blue-400 inline-block font-medium", target: "_top" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this task", task_path(task), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium", form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
  <hr class="mt-6">
</div>